nav {
    background-color: #9E64CE;
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li{
    list-style: none;
}
body{
    background-color: #F7F4FC ;
}

nav li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover{
    color: yellow;
    text-decoration: none;
}

#id1{
    text-align: center ;
    color:#F2B112;
}
#id2{
    text-align: center;
}
#id3{
    background-color : lightgreen;
    text-align: center;
}
#id4{
    text-align: center;
    color: #035024;
}
#id5{
    text-decoration: none;
    color: #9E64CE;
    text-align: center;
    padding : 400px 720px;
}
#id6{
    color:red;
}
/* #id7{
    padding: 60px 120px px 140px;
} */
.responsive{
    width: 100%;
    height: auto;
}
.container {
  position: relative;
  font-family: Arial;
}
.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color:#9E64CE;
  color: #F2DC27;
  padding-left: 20px;
  padding-right: 20px;
}
.card-header{
    background-color: #B9ECFC ;
}
.form-control{
    background-color: #E6F5F9 ;
}
tr:hover {
    background-color: yellow;
}
.p1{
    color: #D63479;
}
.tag{
    color:#0C49C0;
}
.br {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color:lightblue;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
.br:hover {
    background-color: #2EE59D ;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
.br:active {
    transform: translateY(-1px);
   }